@import 'variables';

@function rem($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @return $pixels / $base-font-size * 1rem;
}

@mixin font-size($pixels) {
  font-size: rem($pixels);
}

// Respond above.
// Usage:
// @include breakpoint-and-above(sm) {
//  .element {
//    font-weight: bold;
//  }
// }
// https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
@mixin breakpoint-and-above($breakpoint, $orientation: null) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    $query: unquote('(min-width: #{$breakpoint-value})');

    @if $orientation == 'landscape' or $orientation == 'portrait' {
      $query: append($query, unquote('and (orientation: #{$orientation})'));
    }

    // Write the media query.
    @media #{$query} {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//
// Headline mixins based on our style guide
//
%headline {
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}

@mixin headline1 {
  @extend %headline;
  @include font-size(28px);
}

@mixin headline2 {
  @extend %headline;
  @include font-size(24px);
}

@mixin headline3 {
  @extend %headline;
  @include font-size(22px);
}

@mixin headline4 {
  @extend %headline;
  @include font-size(20px);
}

@mixin headline5 {
  @extend %headline;
  @include font-size(17px);
}

@mixin headline6 {
  @extend %headline;
  @include font-size(15px);
}
